<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title FILEIDS-WEB</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*Font Awesome*@
    <script src="https://kit.fontawesome.com/ad96a6c395.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/index">FILEIDS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" @Html.ActionLink("Proyectos", "Proyectos", "Proyectos")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Design Review", "Index", "DesignReview")</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        @RenderBody()

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <hr />
                <span class="text-muted"><p>&copy; @DateTime.Now.Year - FILEIDS-WEB / ADDR / AISV</p></span>
            </div>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*Sweetalert2*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
