@model FILEIDSMVC.Models.EditarMetadataViewModel

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <label id="lblNombreArchivo" class="h4"></label>
        <hr />


        @*Campos ocultos que pasan en el modelo*@
        <input name="IdArchivo" type="hidden" id="IdArchivo">
        <input name="NombreArchivo" type="hidden" id="NombreArchivo">
        <input name="Extension" type="hidden" id="Extension">


        @*Elementos del form*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Versiones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="dropdown">

                <select class="form-select" aria-label="Version" id="cbSeleccionVersion">
                    <option selected>Seleccione una versión</option>
                    <option value="1">v1</option>
                    <option value="2">v2</option>
                    <option value="3">v3</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptorEs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptorEs, new { htmlAttributes = new { @class = "form-control", @id = "txDescriptorEs" } })
                @Html.ValidationMessageFor(model => model.DescriptorEs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptorEn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptorEn, new { htmlAttributes = new { @class = "form-control", @id = "txDescriptorEn" } })
                @Html.ValidationMessageFor(model => model.DescriptorEn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptorExtra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptorExtra, new { htmlAttributes = new { @class = "form-control", @id = "txDescriptorExtra" } })
                @Html.ValidationMessageFor(model => model.DescriptorExtra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OemSku, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OemSku, new { htmlAttributes = new { @class = "form-control", @id = "txOemSku" } })
                @Html.ValidationMessageFor(model => model.OemSku, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar propiedades" class="btn btn-success mt-3" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
