@model FILEIDSMVC.Models.ProyectosModel

@{
    ViewBag.Title = "Crear un nuevo proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear un nuevo proyecto</h2>


@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NombreDirectorio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreDirectorio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreDirectorio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescriptorDirectorio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescriptorDirectorio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptorDirectorio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear proyecto" class="btn-success" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Volver", "Proyectos")
        </div>
    }

}
else
{
    Context.Response.Redirect("/Account/Login");
}



