@model FILEIDSMVC.Models.ProyectosViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("RegistrarArchivo", "Proyectos", FormMethod.Post, new { @class = "container", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NombreDirectorioRaizNuevo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreDirectorioRaizNuevo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreDirectorioRaizNuevo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescriptorDirectorioRaizNuevo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescriptorDirectorioRaizNuevo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptorDirectorioRaizNuevo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear proyecto" class="btn-success" />
                </div>
            </div>
        </div>

        <div>

            @Html.ActionLink("Volver", "Proyectos")
        </div>
    }

}
else
{
    Context.Response.Redirect("/Account/Login");
}



