@model FILEIDSMVC.Models.ProyectosModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container">

        <h1>Proyectos activos</h1>
        <p class="lead">

            <a type="button" href='@Url.Action("CrearProyecto", "Home")' class="btn btn-primary" hre>Crear nuevo proyecto</a>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreDirectorio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DescriptorDirectorio)
                    </th>
                    <th>
                        Acciones
                    </th>
                    <th></th>
                </tr>

                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreDirectorio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptorDirectorio)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Index", "Explorer", new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }*@

            </table>
    </div>
}
else
{
    Context.Response.Redirect("/Account/Login");
}

