@model FILEIDSMVC.Models.ProyectosModel
@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>Proyectos activos</h2>
                </div>
                <div class="col-sm">
                    <a type="button" href='@Url.Action("CrearProyecto", "Proyectos")' class="btn btn-primary" hre>Crear nuevo proyecto</a>
                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>

        <p class="lead">

            <table class="table">
                <tr>
                    <th>
                        Directorio raiz
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Acciones
                    </th>
                    <th></th>
                </tr>
                @if (Model != null)
                {

                    foreach (var item in Model.ListaDirectorios)
                    {
                        if (item.DirectorioActivo)
                        {
                            <tr>
                                <td>
                                    \@Html.DisplayFor(modelItem => item.NombreDirectorio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescriptorDirectorio)
                                </td>
                                <td>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                @Html.ActionLink("Detalles", "DetallesProyecto", "Proyectos", new { IdDirectorio = item.IdDirectorio, NombreDirectorio = item.NombreDirectorio }, new { @class = "btn btn-info" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.ActionLink("Editar", "Editar", "Proyectos", new { IdDirectorio = item.IdDirectorio, NombreDirectorio = item.NombreDirectorio }, new { @class = "btn btn-secondary" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.ActionLink("Eliminar", "Eliminar", "Proyectos", new { IdDirectorio = item.IdDirectorio, NombreDirectorio = item.NombreDirectorio }, new { @class = "btn btn-warning" })
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }

                    }
                }


            </table>
    </div>
    <div>
        @Html.ActionLink("Volver", "Index", "Home")
    </div>

    @section scripts{
        <script src="~/Scripts/Controllers/Proyectos.js"></script>
    }
}
else
{
    Context.Response.Redirect("/Account/Login");
}

